{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row title">
        <h1><b>Commercial Titles</b></h1>
    </div>
    {% for name, details in released %}
        <div class="row portfolio-item">
            <div class="thumbnails-wrapper">
                {% for key, thumb in details.portfolio %}
                    <div id="thumb-{{ name }}-{{ loop.index - 1 }}" class="thumb">
                        <img data-carousel-name="{{ name }}" src="assets/portfolio/{{ name }}/thumbs/{{ thumb }}" alt="">
                    </div>
                {% endfor %}
            </div>
            <div class="carousel-wrapper">
                <div id="{{ name }}" class="carousel slide" data-ride="carousel">
                    {#<ol class="carousel-indicators">#}
                        {#{% for key, thumb in details.portfolio %}#}
                        {#<li data-target="#{{ name }}" data-slide-to="{{ loop.index }}"#}
                                {#{% if loop.first %} class="active" {% endif %}></li>#}
                        {#{% endfor %}#}
                    {#</ol>#}
                    <div class="carousel-inner" role="listbox">
                        {% for key, thumb in details.portfolio %}
                            <div class="carousel-item {% if loop.first %} active {% endif %}">
                                {% if loop.first %}
                                    <iframe id="youtube-{{ name }}-{{ loop.index }}" width="100%" height="402" src="{{ key }}" frameborder="0" allowfullscreen></iframe>
                                {% else %}
                                    <img src="assets/portfolio/{{ name }}/screenshots/{{ key }}" alt="">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    {#<a class="left carousel-control" href="#{{ name }}" role="button" data-slide="prev">#}
                        {#<span class="icon-prev" aria-hidden="true"></span>#}
                        {#<span class="sr-only">Previous</span>#}
                    {#</a>#}
                    {#<a class="right carousel-control" href="#{{ name }}" role="button" data-slide="next">#}
                        {#<span class="icon-next" aria-hidden="true"></span>#}
                        {#<span class="sr-only">Next</span>#}
                    {#</a>#}
                </div>
            </div>
            <div class="description-wrapper">
                {{ details.description|raw }}
            </div>
        </div>
    {% endfor %}
    <div class="row title">
        <h1><b>Jam Games</b></h1>
    </div>
    <div class="row">
        <div class="thumbnails-wrapper">
            {% for name, details in gamejams %}
                {% for key, thumb in details.portfolio %}
                    <div id="thumb-{{ name }}-{{ loop.index - 1 }}" class="thumb">
                        <img class="gamejam-thumb" src="assets/portfolio/{{ name }}/thumbs/{{ thumb }}" alt="" />
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>


    <div id="about-me" class="row about">
        <h2>About Me</h2>
        <p>Hello! It is I, Arvin, a game developer.</p>
        <p> In 2014 I founded Deepforge Studios with my friend Jia Hao. We've released <a href="https://play.google.com/store/apps/details?id=com.deepforge.catscape">Catscape</a>, a game on Android, and are currently working on <a href="http://www.inflatality.com">Inflatality</a> for PC and console. My strength is in programming, but I'm pretty handy with other things too such as Photoshop and 3D Modelling </p>
        <p>You can find me on twitter <a href="https://twitter.com/arvz88">@arvz88</a > or if you like, you can email me on <a href="mailto:arvin@deepforge.com">arvin@deepforge.com</a></p>
    </div>

{% endblock %}

